<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code1v1</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>

<body id="home">
    <nav>
        <a href="home.html">
            <img id="logo" src="logo.png">
        </a>
        <div id="nav-main-elements">
            <a href="home.html" class="nav-elements">home</a>
            <a href="LeaderBoard.html" class="nav-elements">Leader Board</a>
            <a href="Profile.html" class="nav-elements">Profile</a>
            <div id="log-cred">
                <button name="sign-in" class="nav-button" onclick="goto('signin.html')">Sign In</button>
                <button name="sign-up" class="nav-button" style="background-color:white; color: black;" onclick="goto('signup.html')">Sign Up</button>
            </div>
        </div>
    </nav>
    <br>
    <br>
    <br>
    <br>
    </script>
    <section id="main">
        <img id="versus" src="versus.jpg">
        <section class="button-column">
            <span id="main-buttons">
                <b class="side-content" id="button-prompt">Challenge a coder. Duel 1v1. Live. <br>Right Now!</b>
                <button class="main-button" id="quick-start" onclick="goto('match.html')">Quick Match</button>
                <button class="main-button" id="Leader-Board">View Leaderboard</button>
            </span>
        </section>

        <script>
            function goto(s){
                window.location.href=s;
            }
        </script>
</body>

</html>